html {
    background-color: #85c0e8;}
  
  article {
    border: 1px solid black;}
 
  h1 {
    font-size: 2em;
    font-family: Verdana, sans-serif;}
  
  h2 {
    font-size: 1.5em;
    font-family: Verdana, sans-serif;}
  
  h4 {
    font-size: 1em;
    font-family: Verdana, cursive;}
  
  p {
    font-family: serif;
    font-size: 1em;}
  
  a:link {
  	text-decoration: none;
  	color: #ffffff;}

  a:hover {
  	color: #e87a57;}

  a:visited {
  	color: #2e4382;}
  
  .center { 
    text-align: center;}