h1 {
  color: #267fff;
  font-family: Verdana;
  font-weight: bold;
  padding-bottom: 25px;
  padding-top: 50px;
  text-align: center;
}

h2 {
  /*color: #267fff;*/
  font-family: Verdana;
  font-size: 1em;
  text-align: center;
}

h4 {
  font-family: cursive;
  font-size: 1em;
  margin: 0;
  text-align: left;
}

img {
  display: inline-block;
  width: 200px;
}

#header {
  background-color: #e87a57;
  position: relative;
  top: -10px;
}

#navbar {
  left: 30%;
  margin-top: 0px;
  position: fixed;
}

ul.menu {
  color: #e87a57;
  margin-top: -10px;
}

li.button {
  background-color: #267fff;
  border: 2px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-family: sans-serif;
  padding: 5px;
}

#facepic {
  position: fixed;
  width: 250px;
}

#welcome-text {
  float: right;
  font-family: cursive;
  font-size: 2em;
  margin-right: 20px;
  text-align: center;
  width: 73%;
}

#footer {
  bottom: 10%;
  position: fixed;
}

#social-links {
  left: 25%;
  position: fixed;
  text-align: center;
}